:root {
  --box-color: rgba(47, 57, 64, 0.85);
  --box-border-color: #0b0b0d;
}

body {
  margin: 0;
  background: #0b0b0d;
  background: linear-gradient(
    180deg,
    rgba(11, 11, 13, 1) 0%,
    rgb(34, 42, 48) 50%,
    rgba(11, 11, 13, 1) 100%
  );
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1f 1fr 1fr 0.5fr;
  gap: 20px;
  padding: 20px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550 !important;
  font-style: normal;
  font-size: 5rem;
  color: #91ccd9;
}

p {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #5a73bf;
}

li {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #6b8df2;
}

h3 {
  font-family: "Google Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px !important;
  font-variation-settings: "GRAD" 0;
  color: #6b8df2;
}

#herobox {
  background-color: var(--box-color);
  grid-column: 1 / span 5;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}

#herobox h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  color: #91ccd9;
}

#box1 {
  background-color: var(--box-color);
  grid-column: 1 / span 3;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}

#box2 {
  background-color: var(--box-color);
  grid-column: 4 / span 2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}

#box2 p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  columns: black;
}

#box3 {
  background-color: var(--box-color);
  grid-column: 3 / 6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}

#box4 {
  background-color: var(--box-color);
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  padding: 20px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
#box5 {
  background-color: var(--box-color);
  grid-column: 3 / 6;
  padding: 20px;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
#box6 {
  background-color: var(--box-color);
  grid-column: 1 / span 5;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
#box7 {
  background-color: var(--box-color);
  grid-column: 1 / 6;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  overflow-x: hidden;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}

#img1 {
  background-image: url(images/squareimage.jpg);
  background-size: cover;
  min-height: 275px;
  width: 100%;
  grid-column: 1 / span 3;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
#img2 {
  background-image: url(images/squareimage.jpg);
  background-size: cover;
  min-height: 275px;
  width: 100%;
  grid-column: 4 / span 2;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
#img3 {
  background-image: url(images/squareimage.jpg);
  background-size: cover;
  min-height: 275px;
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
#img4 {
  background-image: url(images/squareimage.jpg);
  background-size: cover;
  min-height: 275px;
  width: 100%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
#img5 {
  background-image: url(images/squareimage.jpg);
  background-size: cover;
  min-height: 275px;
  width: 100%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
#img6 {
  background-image: url(images/squareimage.jpg);
  background-size: cover;
  min-height: 275px;
  width: 100%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
#img7 {
  background-image: url(images/squareimage.jpg);
  background-size: cover;
  min-height: 275px;
  width: 100%;
  grid-column: 3 / span 3;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}

#howbox {
  background-color: var(--box-color);
  grid-column: 1 / span 5;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}

#howbox img {
  width: 100%;
  max-width: 500px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
