/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

header {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  background-color: gainsboro;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#text-container {
  width: 50%;
  align-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

img {
  border-radius: 10px;
  width: 33%;
  height: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer {
  display: flex;
  padding: 40px;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 100%;
  }
  #text-container {
    width: 100%;
  }
}

#hero {
  min-height: 100vh;
  background: #0d0d2f;
  background: radial-gradient(
    circle,
    rgba(13, 13, 47, 1) 0%,
    rgba(31, 15, 52, 1) 50%,
    rgba(0, 28, 75, 1) 100%
  );
}

#hero-container {
  min-height: 100vh;
}

#hero {
  color: white;
}

#red-text {
  color: #ca0026;
  font-weight: 1000;
}

#white-text {
  color: white;
  font-weight: 1000;
}

#features {
  background-color: white;
}

#featurestwo {
  background-color: #ca0026;
}

#ready {
  background-color: #000e2f;
}

#footer {
  background-color: #1a1d29;
}

.card {
  border-radius: 15px;
  padding: 15px;
  background-color: #f5f7fa;
}

#featurestwo h1,
#featurestwo p {
  color: white;
}

#featurestwo p {
  font-size: 12px;
}

#footer {
  color: white;
  font-size: 10px;
}

.btn-white {
  border-radius: 15px;
  font-size: 12px;
  font-weight: 700;
  gap: 20px;
  color: #000e2f;
  background-color: white;
  border: none;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

#ready h1,
#ready p {
  color: white;
}

#features .card h3 {
  color: #000e2f;
  font-size: 24px;
  font-weight: 700;
}

#features .card p {
  color: #000e2f;
  font-size: 12px;
}

.btn-red {
  border-radius: 30px;
  height: 45px;
  gap: 20px;
  color: white;
  background-color: #ca0026;
  border: none;
  padding: 12px 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-white {
  border-radius: 30px;
  height: 45px;
  gap: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: white solid 1px;
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-white-hero {
  border-radius: 30px;
  height: 45px;
  gap: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: white solid 1px;
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#card-container {
  gap: 20px;
}

img {
  width: 400px;
  height: auto;
}
