/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

#blue-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.section1 {
  background-image: linear-gradient(
    230deg,
    rgb(112, 137, 247) 0%,
    rgb(189, 50, 211) 100%
  );
  text-align: center;
  padding: 20px 20px 60px 20px;
}

.hero-phone-image {
  width: 100%;
  height: auto;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  font-style: normal;
  color: white;
  font-size: 36px !important;
  line-height: 1.25em;
}

.btn-custom-white {
  background-color: white !important;
  color: #bd32d3 !important;
  border: solid 2px white;
  padding: 10px 20px !important;
  font-size: 16px;
  border-radius: 10px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 36px;
}

.buttons {
  display: flex;
  gap: 10px;
  width: 100%;
}

.section2 {
  background-color: white;
}

.section2 h1 {
  color: #102465;
  font-weight: 700;
  font-size: 42px;
}

.section2 p {
  color: #656565;
  font-weight: 400;
  font-size: 16px;
}

.section2 h4 {
  color: #102465;
  font-weight: 500;
  font-size: 20px;
}

.section2 h1 {
  color: #102465;
  font-weight: 700 !important;
  font-size: 42px !important;
}

.feature-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  gap: 40px;
  margin: 0 20px 0 20px;
  position: relative;
}

.features-card img {
  position: absolute;
  top: 30px;
  left: 30px;
}

.section3 {
  background-color: white;
}

.section3 h1 {
  color: #102465 !important;
  font-weight: 700 !important;
  font-size: 32px !important;
}

.section3 h4 {
  color: #102465 !important;
  font-weight: 500 !important;
  font-size: 24px !important;
}

.section3 p {
  color: #6c8493 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.section3 h1 {
  text-align: center;
  margin: 0 20px 0 20px;
}

.img-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px #bd32d3;
}

.how-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.how-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.how-buttons {
  display: flex;
  justify-content: center;
}

.how-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 500px;
}

.how-phone-image {
  position: absolute;
  width: 60%;
}

.how-phone-image2 {
  position: absolute;
  width: 100%;
}

@media (min-width: 768px) {
  nav {
    background-color: transparent !important;
    padding-bottom: 40px !important;
  }

  .navbar-nav {
    gap: 40px;
  }

  .section1-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .feature-section {
    flex-direction: row;
    gap: 10px;
  }

  .sec1text {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
  }

  .sec1text h1 {
    font-size: 60px !important;
  }

  .img-circle {
    width: 100px;
    height: 100px;
  }

  .img-circle img {
    width: 60%;
  }
  .how-card img {
    width: 60%;
  }

  .how-buttons {
    display: flex;
  }

  .buttons {
    justify-content: flex-start !important;
  }

  #blue-nav {
    position: static;
  }
}
